{% include "header.html" %}
  <h1>Change Password</h1>
<body>
    <form action="/changepassword" method="POST">
      <div>
        Current password
      </div>
      <input type="password" name="currentpassword"></input>
      <div>
        New Password
      </div>
      <input type="password" name="newpassword"></input>
      <div>
      <br>
      <input type="submit" value="Change Password">
      </div>
      {% if updatepassword %}
      <div>
        <br>
        Password Succesfully Changed. <a href="/">Go back home.</a>
      </div>
      {% endif %}
      {% if error %}
      <div>
        <br>
        {{error}}
      </div>
      {% endif %}
    </form>
</body>
{% include "footer.html" %}
